 .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.16);
 }
 
 .left-section{
    display: flex;
    align-items: center;
    width: 150px;
 }
 
 .three-lines{
    height: 24px;
    width: 24px;
    margin-left: 15px;
    margin-right: 15px;
 }
 .three-dots,.three-lines:hover{
    cursor: pointer;
    opacity: 0.7;
     height: 26px;
    width: 26px;
    margin-left: 14px;
    margin-right: 14px;
 }
 .yt-logo{
    height: 20px;
    width: 93px;
 }
.middle-section{
        display: flex;
        align-items: center;
        width: 100%;
        flex:1;
        margin-left: 50px;
        margin-right: 25px;
        justify-content: center;
    }
    .search-bar{
        width: 0;
        flex-grow: 1;
        border-radius: 2.5px;
        border-color: rgba(0, 0, 0, 0.413);
        border-style: solid;
        border-width: 1px;
        max-width: 450px;
        height: 40px;
    }
    .search-bar::placeholder{
        margin-left:10px;
        padding-left:10px;
    }
    .search-icon{
        height: 40px;
        width: 50px;
        padding:5px;
        margin-left:-1px;
        border-color: rgba(0, 0, 0, 0.413);
        border-style: solid;
        background-color: rgba(0, 0, 0, 0.059);
      
        border-width: 1px;
    }
    .voice-search-icon{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding:4px;
        transition: 0.3s background-color;
        margin-left: 10px;
        background-color: rgba(70, 68, 68, 0.059);
        border:1px solid transparent
    }
    .voice-search-icon:hover
    {
        cursor: pointer;
        background-color: rgba(70, 68, 68, 0.2);
    }
.right-section{
        display: flex;
        align-items: center;
        width: 245px;
        flex-shrink: 0;
        justify-content: space-between;
        margin-right: 10px;
    }

    .upload-icon
{
    height: 40px;
    width: 40px;
    padding:3px;
    margin-left: 10px;
}
.youtube-apps-icon
{
height: 40px;
    width: 40px;
    padding:3px;
}
.notifications-icon{
height: 40px;
    width: 40px;
    padding:3px;

}
 
 .profile-image{
height: 40px;
    width: 40px;
    margin-bottom: 8px;

}

 
 
 
p{
            margin-top:0;
            margin-bottom:0;
        }
        .main-container{
            display: inline-block;
            flex-direction: column;
            align-items: left;
            border: 1px solid transparent;
            border-radius: 10px;
            width: 285px;
            margin: 10px;
            vertical-align: top;
        }
        .image{
            border-radius: 5px;
        }
        .all-images{
            display: inline-block;
            width: 279px;
            height: 157px;
            border-radius: 10px;
        }
        .profile-image{
            margin-top:7px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
        }
        .profile-images{
            display: inline-block;
            vertical-align: top;
            margin-top: 11px;
        }
        .description{
            display: block;
            width: 279px;
        }
        .profile-info{
            display: inline-block;
            width: 220px;
            font-family: arial,sans-serif;
            color: black;
            margin-top: 16px;
            margin-left: 3px;
        }
            .vid-title{
                display: block;
            font-weight:bold ;
            margin-bottom: 7px;
            opacity: 0.93;
            color: black;
            
        }
            .channel-name{
                display: block;
                opacity: 0.85;
                font-size:13px;
                margin-top: 13px;
            }
            .vid-stats{
                display: block;
                margin-top: 0px;
                font-size:14px;
                opacity: 0.85;
            }
        .three-dots{
            vertical-align: top;
            margin-top: 11px;
            margin-right: 2px;
            font-size: 20px;
            display: inline-block;
            width: 5px;
            font-weight: bold;
            color: black;
        }